{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .container div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
        }
        .container img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 1rem;
        }
    </style>
    
    {% if projects %}
    <div class="container">
        
        {% for project in projects %}
        <div style="display: block; text-align: center;">
            <a href="{% url 'projects:detail' pk=project.pk %}">
                <img src="{{ project.image.url }}" alt="" >
            </a>
            <p>{{ project.title | truncatechars:8 }}</p>
        </div>
            
        {% endfor %}
        <script src="{% static 'js/magic_grid.js' %}"></script>   
    </div>
    {% else %}
    <p style="text-align: center;">No Project</p>
    {% endif %}
    <div style="text-align: center;">
        <a href="{% url 'projects:create' %}" class="btn btn-dark rounded-pill col-6 mt-3">
            프로젝트 생성
        </a>
    </div>
      
{% endblock %}