.header {
    text-align: center;
    margin: 2rem 0;
}

.header-title, .footer-logo {
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Gamja Flower', cursive;
}

.footer {
    text-align: center; 
    margin-bottom: 2rem;
}

.footer-menu, .footer-logo {
    margin-top: 1rem;
}

.footer-menu {
    font-size: .6rem;
}