{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pingroup-container">
    <h2>
    {{ pingroup.title }}
    </h2>
    <p>등록된 pin 수: {{ pin_count }}</p>
    <img class="pingroup-detail-img" src="{{ pingroup.image.url }}" alt="">
    <p>
        {{ pingroup.content}}
    </p>
</div>    
<!-- 수정, 삭제 버튼 -->
<div class="d-flex">
    <a class="btn btn-dark rounded-pill w-50" href="{% url 'pingroups:update' pingroup_id=pingroup.pk %}">수정하기</a>
    <form class="w-50" action="{% url 'pingroups:delete' pingroup_id=pingroup.pk %}" method="post" id="delete-form">
        {% csrf_token %}
        <button type="submit" class="btn rounded-pill btn-danger w-100" id="delete-btn">삭제하기</button>
    </form>
</div>  
<hr>

<!-- pin list -->
{% if pin_list %}
    {% include 'pins/pin_item.html' with pin_list=pin_list %}
    <script src="{% static 'js/magic_grid.js' %}"></script>
{% endif %}

<script>
    document.getElementById('delete-form').addEventListener('submit', function(event) {
        event.preventDefault();  // 폼의 기본 제출 동작 중단
        
        if (confirm('정말로 삭제하시겠습니까?')) {
            this.submit();  // 확인 시 폼 제출
        }
    });
</script>

{% endblock %}