{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pingroup-list-container">
    <div class="pingroup-list">
        {% if pingroup_list %}
        {% include 'pingroups/pingroup_item.html' with pingroup_list=pingroup_list %}
        {% else %}
        <p class="text-center">게시된 글이 없습니다.</p>
        {% endif %}
    </div>
    <!-- 등록 버튼 -->
    <div class="pin-create-btn text-center mb-4">
        <a href="{% url 'pingroups:create' %}" class="btn btn-dark rounded-pill col-6 mt-3">
            등록하기
        </a>
    </div>
</div>
<script src="{% static 'js/magic_grid.js' %}"></script>
{% endblock %}