{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="">
    <div class="container px-2 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!-- 이미지 -->
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 rounded-3" src="{{ pin.image.url }}" alt="" />
            </div>
            <!-- 세부내용 -->
            <div class="col-md-6">
                <!-- title -->
                <h3 class="display-5 fw-bolder">{{ pin.title }}</h3>
                <!-- 좋아요, 즐겨찾기 -->
                <div class="d-flex">
                    <div class="d-flex w-50">
                        <a href="{% url 'pins:like' pin_id=pin.pk %}">
                            <i class="bi bi-suit-heart-fill text-danger me-3"></i>
                        </a>
                        <p class="">{{ pin.like_count }}</p>
                    </div>
                    <div class="d-flex w-50">
                        <a href="{% url 'pins:bookmark' pin_id=pin.pk%}">
                            <i class="bi bi-star me-3"></i>
                        </a>
                        <p>{{ pin.book_mark_count }}</p>
                    </div>
                </div>
                <!-- 작성자 정보 -->
                <div class="d-flex mb-3">
                    <!-- 유저 이미지 -->
                    <a class="me-3" href="{% url 'users:mypage' user_id=pin.writer.pk %}">

                        {% if pin.writer.image %}
                        <img class="pin-detail-writer-img" src="{{ pin.writer.image.url }}" alt="">
                        {% else %}
                        <img class="pin-detail-writer-img" src="{% static 'image/default_profile.png' %}" alt="">
                        {% endif %}
                    </a>
                    <!-- 유저정보 -->
                    <div class="mt-2">
                        <p class="mb-1">{{ pin.writer.nickname }}</p>
                        <p>팔로워 {{ pin.writer.followers_count }}</p>
                    </div>
                </div>
                <!-- content -->
                <div class="pin-content mb-2">
                    <p class="">
                        {{ pin.content }}
                    </p>
                </div>
                <p class="text-center">댓글</p>
                <hr>
                <!-- 댓글 리스트 -->
                <div class="comment-list">
                    <ul>
                        {% if comments %}
                        {% for comment in comments %}
                        <li>
                            {{ comment.content }}

                            {% if user.is_authenticated and comment.writer == user %}
                            <a href="{% url 'comments:delete' comment_id=comment.pk %}">
                                <i class="bi bi-x-square"></i>
                            </a>
                            {% endif %}
                        </li>

                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- 댓글 달기 -->
                {% include 'comments/create.html' with pin_id=pin.pk %}
            </div>
        </div>
    </div>
</section>

<!-- 수정, 삭제 버튼 -->
{% if pin.writer == request.user %}
<div class="d-flex">
    <a class="btn btn-dark rounded-pill w-50" href="{% url 'pins:update' pin_id=pin.pk %}">수정하기</a>
    <form class="w-50" action="{% url 'pins:delete' pin_id=pin.pk %}" method="post" id="delete-form">
        {% csrf_token %}
        <button type="submit" class="btn rounded-pill btn-danger w-100" id="delete-btn">삭제하기</button>
    </form>
</div>

<script>
    document.getElementById('delete-form').addEventListener('submit', function (event) {
        event.preventDefault();  // 폼의 기본 제출 동작 중단

        if (confirm('정말로 삭제하시겠습니까?')) {
            this.submit();  // 확인 시 폼 제출
        }
    });
</script>
{% endif %}
{% endblock %}