{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <h2>
    {{ pin_title }}
    </h2>
    <div>
        <a href="">좋아요</a>
        <p>{{ pin_like_count }}</p>
    </div>
    <img src="{{ pin_image_url }}" alt=""
    style="height: 15rem; width: 15rem; border-radius: 1rem; margin-bottom: 2rem;">
    <p>
        {{ pin_content }}
    </p>
    
    {% if pin_writer_id == request.user.pk %}
    <a href="{% url 'pins:update' pin_id=pin_id %}">수정하기</a>
    <form action="{% url 'pins:delete' pin_id=pin_id %}" method="post" id="delete-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" id="delete-btn">삭제하기</button>
    </form>
    {% endif %}
    
    <hr>
    
    {% comment %}
    {% if target_article.comment.all %}
        {% for comment in target_article.comment.all %}
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% endif %}
        
    {% include 'comment/create.html' with article=target_article %}
    {% endcomment %}     
</div>    
<script>
    document.getElementById('delete-form').addEventListener('submit', function(event) {
        event.preventDefault();  // 폼의 기본 제출 동작 중단
        
        if (confirm('정말로 삭제하시겠습니까?')) {
            this.submit();  // 확인 시 폼 제출
        }
    });
</script>
{% endblock %}