{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    
    {% if target_user.profile %}
    <!-- 프로필 이미지 -->
    <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem; width: 12rem; border-radius: 10rem; margin-bottom: 2rem;">
    <!-- 닉네임 -->
    <h2>
        {{ target_user.profile.nickname }}
    </h2>
    <!-- 메세지 -->
    <p>
        {{ target_user.profile.message }}
    </p>
    
        {% if target_user == request.user %}
            <a href="{% url 'profiles:update' pk=target_user.profile.pk %}">수정하기</a>
        {% endif %}
    {% else %}
        {% if target_user == request.user %}    
        <a href="{% url 'profiles:create' %}">
            <h2>프로필 만들기</h2>
        </a>
        {% endif %}
    {% endif %}
        
    {% if target_user == user %}
    <a href="{% url 'users:delete' pk=user.pk %}">회원탈퇴</a>
        
    {% endif %}
        
</div>    
{% endblock %}