{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .container div {
                width: 250px;
                background-color: antiquewhite;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
            }
    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>
<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    
    {% if target_user.profile %}
    <!-- 프로필 이미지 -->
    <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem; width: 12rem; border-radius: 10rem; margin-bottom: 2rem;">
    <!-- 닉네임 -->
    <h2>
        {{ target_user.profile.nickname }}
    </h2>
    <!-- 메세지 -->
    <p>
        {{ target_user.profile.message }}
    </p>
    
        {% if target_user == request.user %}
            <a href="{% url 'profiles:update' pk=target_user.profile.pk %}">수정하기</a>
        {% endif %}
    {% else %}
        {% if target_user == request.user %}    
        <a href="{% url 'profiles:create' %}">
            <h2>프로필 만들기</h2>
        </a>
        {% endif %}
    {% endif %}
        
    {% if target_user == user %}
    <a href="{% url 'users:delete' pk=user.pk %}">회원탈퇴</a>
        
    {% endif %}
</div>   
<hr>
<!-- article -->
{% if object_list %}
<div class="container">
{% for article in object_list %}
    <div>
        <a href="{% url 'articles:detail' pk=article.pk %}">
            <img src="{{ article.image.url }}" alt="">
        </a>
    </div>
{% endfor %}
</div>
<script src="{% static 'js/magic_grid.js' %}"></script>   

{% endif %}     
{% endblock %}