<!DOCTYPE html>
<html lang="ko">
{% include 'head.html' %}
<body>
    {% include 'nav.html' %}
    {% include 'header.html' %}
        
    {% for message in messages %}
        <div class="text-center">
            <div class="btn btn-{{ message.tags }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <!-- Section-->
    <main class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include 'footer.html' %}
</body>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js">
</script>
</html>