<div class="header">
    <h1 class="header-title">
        MyPinterest
    </h1>
    <nav>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
            <a href="{% url 'users:signin' %}?next={{ request.path }}">
                <span>SignIn</span>
            </a>
        {% else %}
            <a href="{% url 'users:signout' %}?next={{ request.path }}">
                <span>SignOut</span>
            </a>
        {% endif %}
    </nav>
</div>