<div class="header">
    <h1 class="header-title">
        MyPinterest
    </h1>
    <nav>
        {% comment %} <a href="{% url 'articles:list' %}">
            <span>Articles</span>
        </a>

        <a href="{% url 'subscriptions:list' %}">
            <span>MySubscriptions</span>
        </a>

        <a href="{% url 'projects:list' %}">
            <span>Projects</span>
        </a>
       {% endcomment %}
        <a href="{% url 'users:join' %}">
            <span>회원가입</span>
        </a> 
        {% if not user.is_authenticated %}
            <a href="{% url 'users:login' %}">
                <span>로그인</span>
            </a>
        {% else %}

            {% comment %} <a href="{% url 'users:mypage' pk=user.pk %}">
                <span>MyPage</span>
            </a> {% endcomment %}
            <a href="{% url 'users:logout' %}">
                <span>로그아웃</span>
            </a>
        {% endif %}
    </nav>
</div>