body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.title-logo {
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Gamja Flower', cursive;
}

/* pin container */
.pin_container div {
            width: 250px;
            background-color: antiquewhite;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
}

.pin_container img {
            width: 100%;
            border-radius: 1rem;
}

/* pingroup container */
.pingroup_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.pingroup_container img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
}
